<div class="row">
  <div class="input-group mb-3 col">
    <input type="text" class="form-control" (change)="changed($event)" [(ngModel)]="search" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)=searchTable()>Search</button>
    </div>
  </div>
</div>
<div class="marginTop15">
  <div class="row">
    <div class="col-xs-12 col-12">
      <a class="btn btn-primary text-white" href="/transactions/get_reports" tooltip="Get Report"><fa-icon [icon]="faFileExport"></fa-icon></a>
      
    </div>
  </div>
  <div>
  	<div *ngFor="let transaction of transactions; index as i" class="Transactions-transaction indexBox">
      
      <p>{{transaction.CreatedAt | date:'dd MMM yyyy @ h:mma'}}</p>
      <p class="name"><a href='/students/{{transaction.Student.id}}'>{{name(transaction.Student)}}</a></p>
      <p>Transaction Type - {{transaction.transaction_type}}</p>
      <span *ngIf="transaction.payment_mode != ''">Payment Mode  - {{transaction.payment_mode}}<br /></span>
      <span *ngIf="transaction.paid_by != ''">Paid By - {{transaction.paid_by}}</span>
      <p [ngClass]="transaction.transaction_type == 'debit' ? 'colorRed' : 'colorGreen'">{{transaction.amount | number:'1.'}}</p>
      <div class="actions"> <a href='/transactions/students/{{transaction.student_id}}/receipt/{{transaction.id}}' *ngIf="transaction.transaction_type =='cridit'"> #{{transaction.receipt_id}}</a>
      </div> 
  	</div>
  </div>
  <div class="pagination">
	 <pagination [totalItems]="totalItems" [ngModel]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8"></pagination>
  </div>
	
</div>