<div *ngIf=!isLoading>
	<div class="mb-3">
		<h2>Name - {{parent.parent_name}}</h2>
		<h2>Display Name - {{parent.display_name}}</h2>
		<h5>Mobile - {{parent.mobile}}</h5>
		<a href='/parents/{{parent.id}}/edit' *ngIf="isEdit()" class="marginRight15 btn btn-secondary" tooltip="Edit">
      <fa-icon [icon]="faUserPen"></fa-icon>
    </a> 
		<button (click)=back() class="btn btn-primary marginRight15" tooltip="Back">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
		<a href='/parents/{{parent.id}}/assign-student' *ngIf="isEdit()" class="marginRight15 btn btn-primary" tooltip="Assign Student">
      <fa-icon [icon]="faHandsHoldingChild"></fa-icon>
    </a> 
	</div>
	<div>
		<h3>Allocated Students</h3>
		<div *ngFor="let parentStudent of parentStudents; index as i" [ngClass]="{'bg-warning': parentStudent.Student.has_left}" class="ParentAssignStudent-Students indexBox">
	      <p class="name">{{ i + 1 }}. <strong>{{name(parentStudent.Student)}}</strong></p>
	      <p><strong>({{parentStudent.Student.Standard.name}}) &nbsp;</strong>
	        <fa-icon [icon]="faBed" [ngClass]="parentStudent.Student.has_hostel ? 'text-success' : 'text-danger'"></fa-icon>
	      </p>
	      <p>{{parentStudent.Student.town}} </p>
	    </div>
	</div>
</div>