<div class="row">  
  <div>
    <div *ngFor="let comment of comments; index as i" class="Student-comments indexBox">
      <p>{{((page - 1) *10) + i + 1 }}. <strong>{{comment.comment}}</strong></p>
      <p>Category - {{comment.CommentCategory.name}}</p>
      <span>Remonder on - {{comment.reminder_on | date:'dd MMM yyyy'}}</span><br />
      <span>By - {{comment.User.username}}</span><br />
      <span>Created At - {{comment.CreatedAt | date:'dd MMM yyyy'}}</span>
      <div class="actions">
        <button type="submit" [disabled]="comment.is_loading" *ngIf=!comment.completed class="btn btn-primary" (click)=completeComment(comment)>Complete</button>
        <span *ngIf=comment.completed>{{comment.completed_on | date:'dd MMM yyyy'}}</span>
      </div>
    </div>
    <div class="pagination">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8">        
      </pagination>
    </div>
  </div>
</div>