<div class="mb-3" style="padding-bottom:50px;">
  <a class="btn btn-info" href="/students/{{studentId}}/exams/report">Get Report</a>
  <a class="btn btn-info marginLeft15" href="/students/{{studentId}}/exams/graph-reports">Get Graphical Report</a>
  <div>
  	<div *ngFor="let examStudent of examStudents; index as i" [ngClass]="{'published': examStudent.Exam.exam_status == 'Published'}" class="Student-exams indexBox">
      <p class="name">{{((page - 1) *10) + i + 1 }}. <strong><a href="exams/{{examStudent.exam_id}}">{{examStudent.Exam.name}}</a></strong></p>
      <p>Subject - {{examStudent.Exam.Subject.name}}</p>
      <span>Standard - {{examStudent.Exam.Standard.name}}-{{examStudent.Exam.Batch.name}}</span> <br />
      <span>Exam Date - <strong>{{examStudent.Exam.exam_date | date:'dd MMM yyyy'}}</strong></span><br />
      <span>Status - {{examStudent.Exam.exam_status}}</span><br />
      <span><span *ngIf="showMarks(examStudent)">{{examStudent.is_present ? examStudent.marks : "Absent"}} Out of </span>{{examStudent.Exam.exam_marks}} Marks</span>
      <span class="name" *ngIf="showMarks(examStudent)">
        <strong>&nbsp; - &nbsp;{{examStudent.percentage | number: '1.0'}} %</strong>
      </span>
    </div>
  </div>
  <div class="pagination">
    <pagination [totalItems]="totalItems" [ngModel]="currentPage" 
      (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8"></pagination>
  </div>
</div>
