<div *ngIf=!isLoading>
	<div class="mb-3">
		<h2>{{name()}} Hostel</h2>
		<h5>Rooms - {{hostel.hostel_rooms_count}}</h5>
		<h5>Total Students - {{hostel.hostel_students_count}}</h5>
		<a class="btn btn-secondary marginRight15" href="/hostels/{{hostel.id}}/edit" tooltip="Edit" *ngIf="isEdit()">
			<fa-icon [icon]="faFilePen"></fa-icon>
		</a>
		<button (click)=back() class="btn btn-primary" tooltip="Back">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
	</div>
	<h3>Rooms</h3>
	<app-hostel-rooms [hostelId]="hostelId"></app-hostel-rooms>
</div>