<a class="btn btn-secondary marginBottom15" href="students/{{student.id}}/batch-standards/new" tooltip="Assign Class">
  <fa-icon [icon]="faUsersViewfinder"></fa-icon>
</a>
<div>
	<div *ngFor="let batchStandardStudent of batchStandardStudents; index as i" class="Student-batchStandard indexBox">
    <p class="name">{{i+1}}. <strong>{{batchStandardStudent.Batch.name}}</strong></p>
    <p>{{batchStandardStudent.Standard.name}}</p>
    <div class="actions">
      <button class="btn btn-link" (click)="removeFromClass(batchStandardStudent)">
        <fa-icon [icon]="faTrashArrowUp" class="font20"></fa-icon>
      </button>
    </div>
	</div>
</div>