<a class="btn btn-secondary marginBottom15" href="students/{{student.id}}/batch-standards/new" tooltip="Assign Class">
  <fa-icon [icon]="faUsersViewfinder"></fa-icon>
</a>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
    <th class="col-md-1"> Sr No</th>
    <th>batch</th>
    <th>Standard</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  	<tr *ngFor="let batchStandardStudent of batchStandardStudents; index as i">
    <td>{{i+1}}</td> 
    <td>{{batchStandardStudent.Batch.name}}</td>
    <td>{{batchStandardStudent.Standard.name}}</td>
    <td>
      <button class="btn btn-link" (click)="removeFromClass(batchStandardStudent)">
        <fa-icon [icon]="faTrashArrowUp"></fa-icon>
      </button>
    </td>
  	</tr>
  </tbody>
</table>