<div class="row">
  <h4>Subjects</h4>
  <p class="clearfix">
    <a href='standards/{{standardId}}/subjects/new' class="btn btn-primary" tooltip="New Subject">
    	<fa-icon [icon]="faBook"></fa-icon>
    </a>
  </p>
  <div>
  	<div *ngFor="let subject of subjects; index as i" class="Standard-subjects indexBox">
      <p calss="name">{{i+1}}. <strong>{{subject.name}}</strong></p>
      <span>Chapters - <strong>{{subject.chapters_count}}</strong></span>
	    <div class="actions">
        <a href='standards/{{standardId}}/subjects/{{subject.id}}' class="marginRight15" tooltip="Show">
          <fa-icon [icon]="faFolderOpen"></fa-icon>
        </a>
        <a href='standards/{{standardId}}/subjects/{{subject.id}}/edit' tooltip="Edit">
        	<fa-icon [icon]="faFilePen"></fa-icon>
      	</a>
      </div>
  	</div>
  </div>	
</div>