<div class="row marginTop15 container">
  <h3>Total balance : {{student.student_account_balance}}</h3>
  <div *ngIf="showActions">
    <a class="btn btn-primary" href="/students/{{studentId}}/student-accounts/deposit"> Deposit Funds</a>
    <a class="btn btn-danger marginLeft15" href="/students/{{studentId}}/student-accounts/withdraw"> Withdraw Funds</a>
  </div>
  <div class="col-xs-12 col-12">
    <pagination class="pull-right" [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8">  
    </pagination>
  </div>
	<table class="table table-striped table-bordered table-hover marginTop15">
    <thead>
      <tr>
      <th class="col-md-1"> Sr No
      </th>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>User</th>
      <th>Balance</th>
    </tr>
    </thead>
    <tbody>
    	<tr *ngFor="let studentAccount of studentAccounts; index as i">
      <td>{{i+1}}</td> 
      <td>{{studentAccount.CreatedAt | date:'dd MMMM yyyy @ h:mma'}}</td>
      <td>{{studentAccount.transaction_type}}</td>
      <td [ngClass]="studentAccount.transaction_type == 'debit' ? 'colorRed' : 'colorGreen'">{{studentAccount.amount}}</td>
      <td>{{studentAccount.reason}}</td>
      <td>{{studentAccount.User.username}}</td>
      <td>{{studentAccount.balance}}</td>
    	</tr>
    </tbody>
	</table>	
</div>