<div class="row marginTop15 container">
  <h3>Total balance : {{student.student_account_balance | number: '1.' }}</h3>
  <div *ngIf="showActions">
    <a class="btn btn-primary" href="/students/{{studentId}}/student-accounts/deposit"> Deposit Funds</a>
    <a class="btn btn-danger marginLeft15" href="/students/{{studentId}}/student-accounts/withdraw"> Withdraw Funds</a>
  </div>
  
	
  <div>
  	<div *ngFor="let studentAccount of studentAccounts; index as i" class="Students-account indexBox">
      <p class="name">{{((page - 1) *10) + i + 1 }}. <strong>{{studentAccount.CreatedAt | date:'dd MMMM yyyy @ h:mma'}}</strong></p>
      <p>{{studentAccount.transaction_type == 'cridit' ? 'Deposit' : 'Withdraw'}}</p>
      <p [ngClass]="studentAccount.transaction_type == 'debit' ? 'colorRed' : 'colorGreen'">{{studentAccount.amount | number: '1.'}} </p>
      <span>Reason - {{studentAccount.reason}}</span><br />
      <span>By - {{studentAccount.User.username}}</span><br />
      <span>Balance - {{studentAccount.balance | number: '1.'}}</span>
  	</div>
    <div class="pagination">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8">  
      </pagination>
    </div>
  </div>
	
</div>