<div *ngIf=!isLoading>
	<div class="mb-3">
		<h2>{{name()}}</h2>
		<button (click)=back() class="btn btn-primary" tooltip="Back">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
		<button 
			class="btn btn-primary marginLeft15"
			[useExistingCss]="true"
			printSectionId="print-section" tooltip="Print"
			ngxPrint><fa-icon [icon]="faPrint"></fa-icon></button>
	</div>

	<div id="print-section">

		<h5>Year - {{batch.year}}</h5>
		<h5 *ngIf="batchStandard.Standard">Standard - {{batchStandard.Standard.name}}</h5>
		<div>	
			<tabset>
				<tab heading="Students" class="mt-2" (selectTab)="onSelect($event)">
					<h4>Students</h4>
			    <div>
			    	<div *ngFor="let batchStandardStudent of batchStandardStudents; index as i" class="Batch-Stabdard-Students indexBox">
			    		<p>{{i+1}}. 
			      		<a href='/students/{{batchStandardStudent.Student.id}}'>{{studentName(batchStandardStudent.Student)}}</a>
			      		&nbsp;<fa-icon [icon]="faBed" [ngClass]="batchStandardStudent.Student.has_hostel ? 'text-success' : 'text-danger'"></fa-icon>
			      	</p>
			      	<p><strong>Town</strong>- {{batchStandardStudent.Student.town}}</p>
			      	<span [ngClass]="{'bg-warning': batchStandardStudent.Student.balance < 0}">
			      		<strong>Balance</strong> - {{batchStandardStudent.Student.balance | number:'1.'}}
			      	</span><br />
			      	<span><strong>Last Paid On</strong>- {{batchStandardStudent.Student.last_payment_on | date:'dd MMM yy'}}</span>
			    	</div>
			    </div>
				</tab>
				<tab heading="Logs" class="mt-2" (selectTab)="onSelect($event)">
					<h4>Logs</h4>
					<app-batch-standards-logs *ngIf="batchStandard.id != undefined" [batchStandardId]="batchStandard.id" ></app-batch-standards-logs>
				</tab>
			</tabset>
		</div>
	</div>
</div>