<app-loading-image *ngIf="isLoading"> </app-loading-image>
<div *ngIf="!isLoading">
  <div class="clearfix marginBottom15"> 
    <a href="/standards/new" class="btn btn-primary" tooltip="New Standard">
    	<fa-icon [icon]="faBookOpenReader"></fa-icon>
    </a>
  </div>
  <div>
  	<div *ngFor="let standard of standards; index as i" class="Standards-standard indexBox">
      <p class="name">{{i+1}}. <strong>{{standard.name}}</strong></p>
      <div class="actions">
        <a href='/standards/{{standard.id}}' tooltip="Show"><fa-icon [icon]="faFolderOpen"></fa-icon></a>
        &nbsp;&nbsp;&nbsp;
        <a href='/standards/{{standard.id}}/edit' tooltip="Edit"><fa-icon [icon]="faFilePen"></fa-icon></a>
      </div>
  	</div>
  </div>
</div>