<div><strong>Room - {{hostelRoom.name}}</strong></div>
<div *ngIf="showAmount == 'true'"><strong>Monthly Rate - {{hostelRoom.rate}}</strong></div>
<div *ngIf="showAmount == 'true'"><strong>Total Students  - {{hostelRoom.hostel_students_count}}</strong></div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-1"> Sr No
      </th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
  	<tr *ngFor="let hostelStudent of hostelStudents; index as i">
      <td>{{i+1}}</td> 
      <td>
     		{{hostelStudent.Student.first_name}} {{hostelStudent.Student.last_name}}
      </td>
      <td>{{hostelStudent.Student.town}}</td>
  	</tr>
  </tbody>
</table>	