<div class="mb-3" style="padding-bottom:50px;" *ngIf=!isLoading>
	<h3>Students</h3>
	<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th class="col-md-1"> Sr No
      </th>
      <th>Student Name</th>
      <th *ngIf="examStatus == 'Conducted'">Is Present?</th>
      <th>Marks</th> 
    </tr>
    </thead>
    <tbody>
    	<tr *ngFor="let examStudent of examStudents; index as i" [ngClass]="{'absent': !examStudent.is_present}">
      <td>{{i + 1 }}</td>
      <td><a href="students/{{examStudent.student_id}}">{{name(examStudent.Student)}}</a></td>
      <td *ngIf="examStatus == 'Conducted'"><input
  					type="checkbox"
						[checked]="examStudent.is_present"
						(change)="changeExamPresentee(examStudent)"
            [disabled]="checkBoxEnables(examStudent)"/></td>
      <td>
      	<input *ngIf="examStatus == 'Conducted'" type="number" [(ngModel)]="examStudent.marks" [disabled]="markBoxEnables(examStudent)" /> 
        <span *ngIf="examStatus == 'Published'">{{examStudent.is_present ? examStudent.marks : "Absent"}} Out of {{marks}}</span>
			</td>
    	</tr>
    </tbody>
	</table>	
  <button *ngIf="examStatus == 'Conducted'" class="btn btn-primary" (click)=saveExamMarks(examId)>Save Marks</button>
</div>
