<div class="container" style="float:left;" *ngIf="exam.exam_status == 'Published'" >
 	<p>
		<button 
			class="btn btn-primary marginRight15"
			[useExistingCss]="true"
			printSectionId="print-section" tooltip="Print"
			ngxPrint><fa-icon [icon]="faPrint"></fa-icon></button>
		<button (click)=back() class="btn btn-primary marginRight15" tooltip="Back">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
	</p>
	
</div>

<div id="print-section" class="container">
	<div *ngIf=!isLoading>
		<div class="mb-3">
			<h2>{{exam.name}}</h2>
			<h5>Exam Date - {{exam.exam_date | date:'dd MMM yyyy'}}</h5>
			<h5>Standard - {{exam.Standard.name}}</h5>
			<h5>Subject - {{exam.Subject.name}}</h5>
			<h5>Status - {{exam.exam_status}}</h5>
			
			<a *ngIf="exam.exam_status == 'Created'" class="btn btn-secondary marginRight15" href='/exams/{{exam.id}}/edit' tooltip="Edit">
				<fa-icon [icon]="faFilePen"></fa-icon>
			</a>
			<button *ngIf="exam.exam_status != 'Published'" (click)=back() class="btn btn-primary marginRight15" tooltip="Back">
				<fa-icon [icon]="faChevronLeft"></fa-icon>
			</button>

			<button *ngIf="exam.exam_status == 'Created'" (click)=conductExam(exam.id) class="btn btn-primary marginRight15" tooltip="Conduct Exam">
				<fa-icon [icon]="faPlay"></fa-icon>
			</button>

			<button *ngIf="exam.exam_status == 'Conducted'" (click)=publishExam(exam.id) class="btn btn-primary marginRight15" tooltip="Publish Exam">
				<fa-icon [icon]="faBullhorn"></fa-icon>
			</button>
		</div>

		<app-exam-students *ngIf="exam.exam_status != 'Created'"  [examId]="exam.id" [examStatus]="exam.exam_status" [marks]="exam.exam_marks"></app-exam-students>
	</div>
</div>