<form>
  <div class="form-group mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="exam.name" [ngModelOptions]="{standalone: true}"/>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Standard</label>
    <select class="form-select" [disabled]="isLoading" [ngModel]="exam.batch_standard_id" (ngModelChange)="onChangeBatchStandard($event)" aria-label="Selecte Standard" [ngModelOptions]="{standalone: true}">
        <option value="0">----</option>
        <option *ngFor="let batchStandard of defaultBatchStandards" [ngValue]="batchStandard.id">{{batchStandard.Standard.name}}</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Exam Type</label>
    <select class="form-select" [(ngModel)]="exam.exam_type" (ngModelChange)="onChangeExamType($event)" aria-label="Exam Type" [ngModelOptions]="{standalone: true}">
			<option value="Objective">Objective</option>
			<option value="Subjective">Subjective</option>
	</select>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Exam Marks</label>
    <input type="number" class="form-control" placeholder="Exam Marks" [(ngModel)]="exam.exam_marks" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Exam Time in Min</label>
    <input type="number" class="form-control" placeholder="Exam Time in min" [(ngModel)]="exam.exam_time" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Exam Date</label>
    <input type="text"
           placeholder="Exam Date"
           class="form-control"
           [(ngModel)]="exam.exam_date"
           [ngModelOptions]="{standalone: true}"
           [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY'}"
           bsDatepicker>
  </div>

  <div class="form-group mb-3">
  <button type="submit" [disabled]="isLoading" *ngIf=isNew class="btn btn-primary" (click)=createExam(exam)>Submit</button>
  <button type="submit" [disabled]="isLoading" *ngIf=!isNew class="btn btn-primary" (click)=updateExam(exam)>Submit</button>
  <button type="submit" class="btn btn-primary marginLeft15" (click)=back()>Back</button>
</div>
</form>
