<div class="row">
  <p class="clearfix">      
      <a href="/hostels/new" class="btn btn-primary" tooltip="New Hostel"><fa-icon [icon]="faHotel"></fa-icon></a>
    </p>
	<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
	      <th class="col-md-1"> Sr No
	      </th>
	      <th>Name</th>
	      <th>No of Rooms</th>
	      <th>No of Students</th>
	      <th>Action</th>
	    </tr>
    </thead>
    <tbody>
    	<tr *ngFor="let hostel of hostels; index as i">
	      <td>{{i+1}}</td> 
	      <td>{{hostel.name}}</td>
	      <td>{{hostel.hostel_rooms_count}}</td>
	      <td>{{hostel.hostel_students_count}}</td>
	      <td>
	        <a href='/hostels/{{hostel.id}}'>
	        	<fa-icon [icon]="faFolderOpen" tooltip="Show"></fa-icon>
	        </a>
	        &nbsp;&nbsp;&nbsp;
	        <a href='/hostels/{{hostel.id}}/edit' tooltip="Edit">
	        	<fa-icon [icon]="faFilePen"></fa-icon>
	        </a>
	        &nbsp;&nbsp;&nbsp;
	        <a href='/hostels/{{hostel.id}}/students-list' tooltip="Print List">
	        	<fa-icon [icon]="faPrint"></fa-icon>
	        </a>
	      </td>
    	</tr>
    </tbody>
	</table>	
</div>