<div class="row">
  <p class="clearfix">      
     <a href="/hostels/new" class="btn btn-primary" tooltip="New Hostel"><fa-icon [icon]="faHotel"></fa-icon></a>
   </p>
  <div>
  	<tr *ngFor="let hostel of hostels; index as i" class="Hostels-hostel">
      <p class="name">{{i+1}} - <strong> {{hostel.name}}</strong></p>
      <p>Rooms - {{hostel.hostel_rooms_count}}</p>
      <p>Students - {{hostel.hostel_students_count}}</p>
      <div class="actions">
        <a href='/hostels/{{hostel.id}}'>
        	<fa-icon [icon]="faFolderOpen" tooltip="Show"></fa-icon>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href='/hostels/{{hostel.id}}/edit' tooltip="Edit">
        	<fa-icon [icon]="faFilePen"></fa-icon>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href='/hostels/{{hostel.id}}/students-list' tooltip="Print List">
        	<fa-icon [icon]="faPrint"></fa-icon>
        </a>
      </div>
  	</tr>
  </div>
</div>