<div *ngIf="showActions">

  <a class="btn btn-primary" href="/students/{{studentId}}/transactions/new" tooltip="Pay" *ngIf="isAccounthandle()">  <fa-icon [icon]="faMoneyBill"></fa-icon></a>
  <a class="btn btn-danger marginLeft15" href="/students/{{studentId}}/transactions/dues" tooltip="Dues" *ngIf="isAccounthandle()"> <fa-icon [icon]="faMoneyBillTransfer"></fa-icon></a>
  <a class="btn btn-primary marginLeft15" href="/students/{{studentId}}/discounts/new" tooltip="Add Discount" *ngIf="isAdmin()"> Add Discount</a>
</div>
<div class="row marginTop15 container">
  <div>
    <h6 class="colorRed">Total Debits -  {{balance.debits | number: '1.'}}</h6>
    <h6 class="colorGreen">Total Credits - {{balance.credits | number: '1.'}}</h6>
    <h6 class="colorGreen">Total Discounts - {{balance.discounts | number: '1.'}}</h6>
    <h6 class="">Total Balance - {{balance.credits + balance.discounts - balance.debits | number: '1.' }}</h6>
  </div>
	
    <div>
    	<div *ngFor="let transaction of transactions; index as i" class="Student-transactions indexBox">
        <p class="name">{{i+1}}. {{transaction.name == 'Dues' ? transaction.reason :  transaction.name }}</p>
        <p><strong>Date</strong> - {{transaction.CreatedAt| date:'dd MMM yyyy'}}</p>
        <span><strong>Type</strong> - {{transaction.transaction_type | titlecase}}</span><br />
        <span [ngClass]="transaction.transaction_type == 'debit' ? 'colorRed' : 'colorGreen'"><strong>Amount</strong> {{transaction.amount | number: '1.'}}</span><br />
        <span><strong>Paid By</strong> {{transaction.paid_by}}</span>
        <div class="actions">
          <a href='/transactions/students/{{transaction.student_id}}/receipt/{{transaction.id}}' *ngIf="transaction.transaction_type == 'cridit'">#{{transaction.receipt_id}}</a>
        </div>
    	</div>
    </div>
	
</div>