<div class="container" style="float:left;">
 	<p>
 		<button class="btn btn-secondary" (click)="back()"> Back</button>
		<button 
			class="btn btn-primary marginLeft15"
			[useExistingCss]="true"
			printSectionId="print-section"
			ngxPrint>print</button>
	</p>
</div>

<div *ngIf=!isLoading id="print-section"> 
	<div class="mb-3">
		<h2>{{name()}} Hostel</h2>
		<h5>Rooms - {{hostel.hostel_rooms_count}}</h5>
		<h5>Total Students - {{hostel.hostel_students_count}}</h5>
	</div>
	<h3>Rooms</h3>
	<div class="row row-cols-2 marginTop15">
		<div *ngFor="let hostelRoom of hostelRooms" class="marginTop15 borderBox">
			<app-hostel-students [hostelId]="hostelId" [hostelRoomId]="hostelRoom.id" [hostelRoom]="hostelRoom" showAmount="false"></app-hostel-students>
		</div>
	</div>
</div>