<div class="">
  <div class="marginBottom15">
 		<a class="btn btn-primary" href="users/new" tooltip="New User"> 
 			<fa-icon [icon]="faUserPlus"></fa-icon>
 		</a>
  </div>
  <div>
  	<div *ngFor="let user of users; index as i" [ngClass]="{'bg-warning': !user.active}" class="Users-user indexBox">
      <p class="name">{{i+1}}. <strong>{{user.username}}</strong></p>
      <p>Role - {{user.role}}</p>
      <p> Is Active {{user.active}}</p>
      <p class="actions">
      	<span *ngIf="user.role != 'Admin'">
	      	<button *ngIf=user.active class="btn btn-danger" (click)=deactiveUser(user) tooltip="Deactivate User">
	      		<fa-icon [icon]="faUserXmark"></fa-icon>
	      	</button>
	      	<button *ngIf=!user.active class="btn btn-primary" (click)=activeUser(user) tooltip="Activate User">
	      		<fa-icon [icon]="faUserCheck"></fa-icon>
	      	</button>
      	</span>
      </p>
  	</div>
  </div>
</div>