<div class="">
  <div class="marginBottom15">
 		<a class="btn btn-primary" href="users/new" tooltip="New User"> 
 			<fa-icon [icon]="faUserPlus"></fa-icon>
 		</a>
  </div>
	<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
	      <th class="col-md-1"> Sr No
	      </th>
	      <th>UserName</th>
	      <th>Role</th>
	      <th>Active</th>
	      <th>Action</th>
	    </tr>
    </thead>
    <tbody>
    	<tr *ngFor="let user of users; index as i" [ngClass]="{'table-warning': !user.active}">
	      <td>{{i+1}}</td> 
	      <td>{{user.username}}</td>
	      <td>{{user.role}}</td>
	      <td>{{user.active}}</td>
	      <td>
	      	<span *ngIf="user.role != 'Admin'">
		      	<button *ngIf=user.active class="btn btn-danger" (click)=deactiveUser(user) tooltip="Deactivate User">
		      		<fa-icon [icon]="faUserXmark"></fa-icon>
		      	</button>
		      	<button *ngIf=!user.active class="btn btn-primary" (click)=activeUser(user) tooltip="Activate User">
		      		<fa-icon [icon]="faUserCheck"></fa-icon>
		      	</button>
	      	</span>
	      </td>
    	</tr>
    </tbody>
	</table>	
</div>