<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="container-fluid">
    <a [routerLink]=loginLink() >
      <img class="logoCss" src="assets/logo.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto" *ngIf=isLogin>
        <li class="nav-item active">
          <a class="nav-link" [ngClass]="{'active': activeLink('/dashboard')}" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/students')}" href="/students?page=1">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/comments')}" href="/comments?page=1">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/exams')}" href="/exams?page=1">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/teachers')}" href="/teachers">Teachers</a>
        </li>
        <li class="nav-item" *ngIf=isAdminAccountant()>
          <a class="nav-link" [ngClass]="{'active': activeLink('/transactions')}" href="/transactions?page=1">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/hostels')}" href="/hostels">Hostel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/batchs')}" href="/batchs">Batch</a>
        </li>
        <li class="nav-item" *ngIf=isAdmin()>
          <a class="nav-link" [ngClass]="{'active': activeLink('/standards')}" href="/standards">Standard</a>
        </li>      
        <li class="nav-item" *ngIf=isAdmin()>
          <a class="nav-link" [ngClass]="{'active': activeLink('/users')}" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/logs')}" href="/logs?page=1">Logs</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a *ngIf=!isLogin class="logout" href="/login">Login</a>
          <div *ngIf=isLogin class="btn-group" dropdown>
            <button id="button-animated" dropdownToggle type="button" class="btn logout dropdown-toggle"
                    aria-controls="dropdown-animated">
              Welcome <span class="capitalize">{{getUsername}}</span><span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu left-50"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" href="/users/edit">Change Password</a></li>
              <li role="menuitem" *ngIf=isTeacher()>
                <a class="dropdown-item" href="logs/new">My Logs</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)=logoutUser()>Logout</a>
              </li>
            </ul>
          </div>
          
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container" role="main">
  <app-alert></app-alert>
  <router-outlet class="container bs-docs-container"></router-outlet>
</div>
