<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="container-fluid">
    <a *ngIf=!isLogin class="navbar-brand" href="/login"><span>Eracord</span></a>
    <a *ngIf=isLogin class="navbar-brand" href="/dashboard"><span>Eracord</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [ngClass]="{'active': activeLink('/dashboard')}" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/students')}" href="/students">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/exams')}" href="/dashboard">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/accounts')}" href="/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/hostels')}" href="/hostels">Hostel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/batchs')}" href="/batchs">Batch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeLink('/standards')}" href="/standards">Standard</a>
        </li>      
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a *ngIf=!isLogin href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container" role="main">
  <router-outlet class="container bs-docs-container"></router-outlet>
</div>
