.header {
	max-height: 50px;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent;
}

.ml-md-auto, .mx-md-auto {
    margin-left: auto!important;
}

.marginLeft15 {
    margin-left: 15px;
}

.logout {
    cursor: pointer;
    color: #fff;
}