<form>

	<h2>{{currentTime | date:"EEEE dd MMMM yyyy"}}</h2>
  <div class="form-group mb-3">
    <label for="exampleInputEmail1" class="form-label">Time</label>
    <div>
    	<timepicker style="float:left;" [(ngModel)]=startTime [showSeconds]="false" [ngModelOptions]="{standalone: true}"></timepicker>
			<timepicker [(ngModel)]=endTime [showSeconds]="false" [ngModelOptions]="{standalone: true}"></timepicker>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Standard</label>
    <select class="form-select" [disabled]="isLoading" [ngClass]="{'is-invalid': hasError('BatchStandardID')}" [ngModel]="teacherLog.batch_standard_id" (ngModelChange)="onChangeBatchStandard($event)" aria-label="Selecte Standard" [ngModelOptions]="{standalone: true}">
        <option value="0">----</option>
        <option *ngFor="let batchStandard of batchStandards" [ngValue]="batchStandard.id">{{batchStandard.Standard.name}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="hasError('BatchStandardID')">
      <p *ngFor="let err of getErrorValue('BatchStandardID')">{{err}}</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Subject</label>
    <select class="form-select" [disabled]="isLoading" [ngClass]="{'is-invalid': hasError('SubjectID')}" [ngModel]="teacherLog.subject_id" (ngModelChange)="onChangeSubject($event)" aria-label="Selecte Subject" [ngModelOptions]="{standalone: true}">
        <option value="0">----</option>
        <option *ngFor="let subject of subjects" [ngValue]="subject.id">{{subject.name}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="hasError('SubjectID')">
      <p *ngFor="let err of getErrorValue('SubjectID')">{{err}}</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Category</label>
    <select class="form-select" [disabled]="isLoading" [ngClass]="{'is-invalid': hasError('LogCategoryID')}" [ngModel]="teacherLog.log_category_id" (ngModelChange)="onChangeCategory($event)" aria-label="Selecte Category" [ngModelOptions]="{standalone: true}">
        <option value="0">----</option>
        <option *ngFor="let category of logCategories" [ngValue]="category.id">{{category.name}}</option>
    </select>
    <div class="invalid-feedback" *ngIf="hasError('LogCategoryID')">
      <p *ngFor="let err of getErrorValue('LogCategoryID')">{{err}}</p>
    </div>
  </div>

  
   <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Comment</label>
    <input type="text" class="form-control" placeholder="Comment" [(ngModel)]="teacherLog.comment" [ngModelOptions]="{standalone: true}"/>
   </div>

  <!-- <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Exam Time in Min</label>
    <input type="number" class="form-control" placeholder="Exam Time in min" [(ngModel)]="teacherLog.exam_time" [ngModelOptions]="{standalone: true}"/>
  </div> -->

  

  <div class="form-group mb-3">
		<button type="submit" [disabled]="isLoading" *ngIf=isNew class="btn btn-primary" (click)=createTeacherLog(teacherLog)>Submit</button>
		<button type="submit" [disabled]="isLoading" *ngIf=!isNew class="btn btn-primary" (click)=updateTeacherLog(teacherLog)>Submit</button>
		<button type="submit" class="btn btn-primary marginLeft15" (click)=back()>Back</button>
	</div>
</form>




<div>


</div>
