<form>
  <div class="form-group mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': hasError('Name')}" placeholder="First Name" [(ngModel)]="teacher.name" [ngModelOptions]="{standalone: true}"/>
    <div class="invalid-feedback" *ngIf="hasError('Name')">
      <p *ngFor="let err of getErrorValue('Name')">{{err}}</p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">What's app Number</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': hasError('Mobile')}" placeholder="Mobile" [(ngModel)]="teacher.mobile" [ngModelOptions]="{standalone: true}"/>
    <div class="invalid-feedback" *ngIf="hasError('Mobile')">
      <p *ngFor="let err of getErrorValue('Mobile')">{{err}}</p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Adhar Card</label>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': hasError('AdharCard')}" placeholder="Adhar Card" [(ngModel)]="teacher.adhar_card" [ngModelOptions]="{standalone: true}"/>
    <div class="invalid-feedback" *ngIf="hasError('AdharCard')">
      <p *ngFor="let err of getErrorValue('AdharCard')">{{err}}</p>
    </div>
  </div>
	<div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Joining Date</label>
    <input type="text"
           placeholder="Joining date"
           class="form-control"
           [(ngModel)]="teacher.joining_date"
           [ngModelOptions]="{standalone: true}"
           [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY'}"
           bsDatepicker>
  </div>  
  <div class="form-group mb-3">
  <button type="submit" [disabled]="isLoading" *ngIf=isNew class="btn btn-primary" (click)=createTeacher(teacher)>Submit</button>
  <button type="submit" [disabled]="isLoading" *ngIf=!isNew class="btn btn-primary" (click)=updateTeacher(teacher)>Submit</button>
  <button type="submit" class="btn btn-primary marginLeft15" (click)=back()>Back</button>
</div>
</form>
