<img src="assets/home.jpg" class="imgPoster">

<h3>A common platform for teachers, institution and
administrative departments to work towards a common
goal of helping the students to learn and score better
which in turn improves their performance. Working on
four basic functions - planning, organizing, controlling and
motivating, it helps you achieve a competitive output.</h3>
<h5 class="marginTop15">Eracord helps students, teachers, institutions / organizations
and administrative departments to transform the management of
the organization maintaining a hierarchical level in order to provide
the next generation with new learning experiences that opens door
to academic achievements and opportunities.
Maintaining a hierarchical connectivity, students are
connected to teachers and institutions/organizations by keeping a
record of personal as well as academic data of students. It also
helps maintaining daily teaching records of teachers, which would
be taken care by administrative desk.
It also helps maintain a common dialogue between students
and parents by letting parents know their child's personal daily /
weekly / monthly academic reports with graphical visualizations.</h5>