<img src="assets/home.jpg" class="imgPoster">

<div class="paddingBottom30">
<h4>A common platform for teachers, <small class="changeColor">institution</small> and
administrative departments to work towards a common
goal of helping the <small class="changeColor">students</small> to learn and score better
which in turn improves their <small class="changeColor">performance</small>. Working on
four basic functions - <small class="changeColor">planning, organizing</small>, controlling and
motivating, it helps you achieve a competitive output.</h4>
<h5 class="marginTop15 marginBottom15">Eracord helps students, teachers, institutions / organizations
and administrative departments to <small class="changeColor">transform the management</small> of
the organization maintaining a hierarchical level in order to provide
the next generation with new learning experiences that opens door
to academic <small class="changeColor">achievements</small> and opportunities.
Maintaining a hierarchical connectivity, students are
connected to teachers and institutions/organizations by keeping a
record of personal as well as <small class="changeColor">academic</small> data of students. It also
helps <small class="changeColor">maintaining</small> daily teaching records of teachers, which would
be taken care by administrative desk.
It also helps maintain a common dialogue between students
and <small class="changeColor">parents</small> by letting parents know their child's personal daily /
weekly / monthly academic <small class="changeColor">reports </small>with graphical visualizations.</h5>
</div>