<div class="row">
	<div *ngIf="hostelStudents.length > 0">
		<h3><mark>Hostel Expired Students &nbsp;<strong>({{hostelStudents.length}})</strong></mark></h3>
		<table class="table table-striped table-bordered table-hover">
		  <thead>
		    <tr>
		      <th class="col-md-1"> Sr No
		      </th>
		      <th>Student Name</th>
		      <th>Hostel</th>
		      <th>End Date</th>
		      <th>Iteration</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr *ngFor="let hostelStudent of hostelStudents; index as i">
		      <td>{{i+1}}</td> 
		      <td>{{name(hostelStudent.Student)}}</td>
		      <td>{{hostelStudent.Hostel.name}}</td>
		      <td>{{hostelStudent.next_collection | date:'dd MMMM yyyy'}}</td>
		      <td>{{hostelStudent.fee_iteration}}</td>
		      <td>
		      
		      </td>
		  	</tr>
		  </tbody>
		</table>	
	</div>

	<div *ngIf="students.length > 0">
		<h3><mark>Upcomming Birthdays &nbsp;<strong>({{students.length}})</strong></mark></h3>
		<table class="table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
		      <th class="col-md-1"> Sr No
		      </th>
		      <th>Student Name</th>
		      <th>Birthday</th>
		    </tr>
	    </thead>
	    <tbody>
	    	<tr *ngFor="let student of students; index as i">
		      <td>{{i+1}}</td> 
		      <td>{{name(student)}}</td>
					<td>{{student.birth_date | date:'dd MMMM yyyy'}}</td>
	    	</tr>
	    </tbody>
		</table>	
	</div>

	<div *ngIf="comments.length > 0">
		<h3><mark>Upcomming Comments &nbsp;<strong>({{comments.length}})</strong></mark></h3>
		<table class="table table-striped table-bordered table-hover marginTop15">
      <thead>
        <tr>
        <th class="col-md-1"> Sr No
        </th>
        <th class="commentWidth">Comment</th>
        <th>Student</th>
        <th>Category</th>
        <th>Reminder On</th>
        <th>Added By</th>
        <th>Added On</th>
      </tr>
      </thead>
      <tbody>
      	<tr *ngFor="let comment of comments; index as i">
        <td>{{i+1}}</td> 
        <td>{{comment.comment}}</td>
        <td><a href='/students/{{comment.Student.id}}'>{{name(comment.Student)}}</a></td>
        <td>{{comment.CommentCategory.name}}</td>
        <td >{{comment.reminder_on | date:'dd MMMM yyyy'}}</td>
        <td>{{comment.User.username}}</td>
        <td>{{comment.CreatedAt | date:'dd MMMM yyyy'}}</td>
      	</tr>
      </tbody>
    </table>	
	</div>
</div>
