<p>dashboard works!</p>
<div class="row">
	<nav>
  	<ul>
    	<li><a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page">Students</a></li>
    	<li><a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page">Account</a></li>
    	<li><a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page">Exam</a></li>
    	<li><a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page">Hostel</a></li>
  	</ul>
	</nav>
</div>
