<div class="row">
	<div *ngIf="hostelStudents.length > 0">
		<h3><mark>Hostel Expired Students &nbsp;<strong>({{hostelStudents.length}})</strong></mark></h3>
		<table class="table table-striped table-bordered table-hover">
		  <thead>
		    <tr>
		      <th class="col-md-1"> Sr No
		      </th>
		      <th>Student Name</th>
		      <th>Hostel</th>
		      <th>End Date</th>
		      <th>Iteration</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr *ngFor="let hostelStudent of hostelStudents; index as i">
		      <td>{{i+1}}</td> 
		      <td>{{name(hostelStudent.Student)}}</td>
		      <td>{{hostelStudent.Hostel.name}}</td>
		      <td>{{hostelStudent.next_collection | date:'dd MMMM yyyy'}}</td>
		      <td>{{hostelStudent.fee_iteration}}</td>
		      <td>
		      
		      </td>
		  	</tr>
		  </tbody>
		</table>	
	</div>

	<div *ngIf="students.length > 0">
		<h3><mark>Upcomming Birthdays &nbsp;<strong>({{students.length}})</strong></mark></h3>
		
	    <div>
	    	<div *ngFor="let student of students; index as i" class="Dashboard-birthday indexBox">
		      <p>{{i+1}}.  
		      <strong>{{name(student)}}</strong></p>
					<p class="name">{{student.birth_date | date:'dd MMMM yyyy'}}</p>
	    	</div>
	    </div>
		
	</div>

	<div *ngIf="comments.length > 0">
		<h3><mark>Upcomming Comments &nbsp;<strong>({{comments.length}})</strong></mark></h3>	
      <div>
      	<div *ngFor="let comment of comments; index as i" class="Dashboard-comment indexBox">
	        <p>{{i+1}}. <strong> {{comment.comment}}</strong></p>
	        <p class="name"><a href='/students/{{comment.Student.id}}'>{{name(comment.Student)}}</a></p>
	        <span>Category - {{comment.CommentCategory.name}}</span><br />
	        <span >Reminder on - <strong>{{comment.reminder_on | date:'dd MMMM yyyy'}}</strong></span><br />
	        <span>Added By - {{comment.User.username}}</span><br />
	        <span>Added On - {{comment.CreatedAt | date:'dd MMMM yyyy'}}</span>
      	</div>
      </div>
	</div>
</div>
