<app-loading-image *ngIf="isLoading"> </app-loading-image>
<div class="row" *ngIf="!isLoading">
  <div class="col-8">
    <a href="/students/new" class="btn btn-primary" tooltip="New Student"><span><fa-icon [icon]="faSquarePlus"></fa-icon> </span></a>
  </div>
  <div class="input-group mb-3 col">
    <input type="text" class="form-control" (change)="changed($event)" [(ngModel)]="search" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)=searchTable()>Search</button>
    </div>
  </div>  
  <div>
    <div *ngFor="let student of students; index as i" [ngClass]="{'bg-warning': student.has_left}" class="Students student indexBox">
      <p class="name">{{((page - 1) *10) + i + 1 }}. <strong>{{name(student)}}</strong></p>
      <p><strong>({{student.Standard.name}}) &nbsp;</strong>
        <fa-icon [icon]="faBed" [ngClass]="student.has_hostel ? 'text-success' : 'text-danger'"></fa-icon>
      </p>
      <p>{{student.town}} <br />
      <span [ngClass]="{'bg-warning': student.balance < 0}">Balance = {{student.balance  | number: '1.'}}</span> <br />
      <span *ngIf="student.has_left">Left Academy <br /></span> 
      <span *ngIf="!student.has_left">Last Pay on {{student.last_payment_on | date:'dd MMM yyyy'}} &nbsp;</span>
      </p>
      <div class="Students actions">
        <a href='/students/{{student.id}}' class="marginRight15" tooltip="Show">
          <fa-icon [icon]="faFolderOpen"></fa-icon>
        </a>
        <a href='/students/{{student.id}}/edit' *ngIf="!student.has_left" class="marginRight15" tooltip="Edit">
          <fa-icon [icon]="faUserPen"></fa-icon>
        </a> 
        <a class="btn-primary" href="/students/{{student.id}}/transactions/new" *ngIf="!student.has_left" tooltip="Pay"> 
          <fa-icon [icon]="faMoneyBill"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination [totalItems]="totalItems" [ngModel]="currentPage" 
      (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8"></pagination>
  </div>
</div>