.commentWidth {
	width: 30%;
}

.studentWidth {
    width: 15%;
}

.pull-right {
	float:right;
}

a{
    color: #717171;
}

.borderBox {
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
    padding: 10px;
}