<div class="row">
  <div class="col-md-3 offset-md-9">
    <div class="input-group">
      <input type="text" class="form-control" (change)="changed($event)" [(ngModel)]="search" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)=searchTable()>Search</button>
      </div>
    </div>
  </div>
</div>
<div class="marginTop15">
  
  <div class="row marginTop15">
  	<div *ngFor="let comment of comments; index as i" class="Comments-comment indexBox">
      <p>{{((page - 1) *10) + i + 1 }}. <strong><a href='/students/{{comment.Student.id}}'>{{name(comment.Student)}}</a></strong></p>
      <p class="name">{{comment.comment}}</p>
      <span>Category - {{comment.CommentCategory.name}}</span><br />
      <span>Reminder On <strong>{{comment.reminder_on | date:'dd MMM yyyy'}}</strong></span> <br />
      <span>Created By - {{comment.User.username}}</span> <br />
      <span>Created At - {{comment.CreatedAt | date:'dd MMM yyyy'}}</span>
      <div class="actions">
        <button type="submit" [disabled]="comment.is_loading" *ngIf=!comment.completed class="btn btn-primary" (click)=completeComment(comment)>Complete</button>
        <span *ngIf=comment.completed>{{comment.completed_on | date:'dd MMM yyyy'}}</span>
      </div>
  	</div>
  </div>
  <div class="pagination">
    <pagination class="pull-right" [totalItems]="totalItems" [ngModel]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8">        
    </pagination>
  </div>
</div>
