<div class="row">
  <p class="clearfix">
      
      <a href="/teachers/new" class="btn btn-primary"><span>New Teacher</span></a>
    </p>
	<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
	      <th class="col-md-1"> Sr No
	      </th>
	      <th>Name</th>
	      <th>Mobile</th>
	    </tr>
    </thead>
    <tbody>
    	<tr *ngFor="let teacher of teachers; index as i">
	      <td>{{i+1}}</td> 
	      <td>{{teacher.name}}</td>
	      <td>{{teacher.mobile}}</td>
	      <td>
	        <a href='/teachers/{{teacher.id}}'>Show</a>
	        &nbsp;&nbsp;&nbsp;
	        <a href='/teachers/{{teacher.id}}/edit'>Edit</a>
	      </td>
    	</tr>
    </tbody>
	</table>	
</div>