<app-loading-image *ngIf="isLoading"> </app-loading-image>
<div class="row" *ngIf="!isLoading">
  <p class="clearfix" *ngIf="isEdit()">
      
      <a href="/teachers/new" class="btn btn-primary" tooltip="New Teacher">
      	<fa-icon [icon]="faUserTie"></fa-icon>
      </a>
    </p>
    <div>
    	<div *ngFor="let teacher of teachers; index as i" class="Teachers-teacher indexBox">
	      <p class="name">{{i+1}}. <strong>{{teacher.name}}</strong></p>
	      <p>Mobile - {{teacher.mobile}}</p>
	      <div class="actions">
	        <a href='/teachers/{{teacher.id}}' tooltip="Show">
	        	<fa-icon [icon]="faFolderOpen"></fa-icon>
	      	</a>
	        &nbsp;&nbsp;&nbsp;
	        <a href='/teachers/{{teacher.id}}/edit' tooltip="Edit" *ngIf="isEdit()">
	        	<fa-icon [icon]="faFilePen"></fa-icon>
	        </a>
	      </div>
    	</div>
    </div>
</div>
