<div *ngIf=!isLoading>
	<div *ngIf="student.id" class="pull-right"> 
		<a href='/students/{{student.id - 1}}'>Preview</a> &nbsp;
		<a href='/students/{{student.id + 1}}'>Next</a>
	</div>
	<div class="mb-3">
		<h2>{{name()}}</h2>
		<h5>Birth Date - {{student.birth_date | date:'dd MMM yyyy'}}</h5>
		<h5>Adhar Card number Number - {{adharCard()}}</h5>
		<h5>Parent Name - {{student.parent_name}}</h5>
		<h5>Contact Number - {{student.contact_number}}</h5>
		<h5>What's app Number - {{student.wh_number}}</h5>
		<h5>Address - {{student.town}}</h5>
		<h5>Standard - {{student.Standard.name}}</h5>
		<h5 class="text-danger" *ngIf="student.has_left">Left On - {{student.left_at | date:'dd MMM YYYY'}}</h5>
	</div>
	<div class="mb-3">
		<a *ngIf="!student.has_absconded && !isLeft()" class="btn btn-secondary marginRight15" href='/students/{{student.id}}/edit' tooltip="Edit">
			<fa-icon [icon]="faUserPen"></fa-icon>
		</a>
		<button (click)=back() class="btn btn-primary marginRight15" tooltip="Back">
			<fa-icon [icon]="faChevronLeft"></fa-icon>
		</button>
		<a class="btn btn-info marginRight15" href='/students/{{student.id}}/comments/new' tooltip="New Comment">
			<fa-icon [icon]="faComment"></fa-icon>
		</a>
		<a class="btn btn-info marginRight15" href='/students/{{student.id}}/admission-form' tooltip="Get Admission Form">
			<fa-icon [icon]="faEnvelopeOpenText"></fa-icon>
		</a>
		<button (click)=leftAcademy(student.id) class="btn btn-info text-white marginRight15" *ngIf="!isLeft()" tooltip="Exit From Academy">
			<fa-icon [icon]="faPersonWalkingArrowRight" class="text-danger"></fa-icon>
		</button>
	</div>
	<div>	
		<tabset>
		  <tab heading="Hostel" class="mt-2" (selectTab)="onSelect($event)" *ngIf="!student.has_absconded && !isLeft()">
		    <span *ngIf=hasHostel>
		    	<h4>Hostel  <a class="changeRoom" href="/students/{{student.id}}/change-room">Change Hostel / Room</a></h4>
			    <p>Hostel Name - {{hostelStudent.Hostel.name}} </p>
			    <p>Fee included in Tution fee - {{hostelStudent.fee_included}}</p>
			    <p>Room Number - {{hostelStudent.HostelRoom.name}}</p>
			    <p>Rector Number - {{hostelStudent.Hostel.rector}}</p>
			    <p>Number of students in rooms - {{hostelStudent.HostelRoom.no_of_students}}</p>
			    <p *ngIf="!hostelStudent.fee_included">Monthly Charges - {{hostelStudent.Hostel.rate}}</p>
			    <h6 *ngIf="!hostelStudent.fee_included">Renew Date - {{hostelStudent.next_collection | date:'dd MMM yyyy'}}</h6>
			    <h4>Room Students</h4>
			    <app-hostel-students [hostelId]="hostelStudent.hostel_id" [hostelRoomId]="hostelStudent.hostel_room_id" [hostelRoom]="hostelStudent.HostelRoom"></app-hostel-students>
		  	</span>
		  	<h3 *ngIf=!hasHostel>No hostel Assigned</h3>
		  	<a *ngIf=!hasHostel href="/students/{{student.id}}/assign-hostel"><span>Assign Hostel</span></a>
		  </tab>
		  <tab heading="Class" class="mt-2" (selectTab)="onSelect($event)" *ngIf="!student.has_absconded && !isLeft()">
		  	<h4>Class</h4>
		  	<p><app-batch-standard-students [batchStandardStudents]="batchStandardStudents" [student]="student"></app-batch-standard-students></p>
		  </tab>
		  <tab heading="Transactions" class="mt-2" (selectTab)="onSelect($event)">
		    <h4>Transactions</h4>
		    <app-transactions [studentId]="student.id" [showActions]="!student.has_absconded && !isLeft()"></app-transactions>
		  </tab>
		  <tab heading="Accounts" class="mt-2" (selectTab)="onSelect($event)">
		    <h4>Accounts</h4>
		    <app-student-accounts [studentId]="student.id" [student]="student" [showActions]="!student.has_absconded && !isLeft()"></app-student-accounts>
		  </tab>
		  <tab heading="Comments" class="mt-2" (selectTab)="onSelect($event)" >
		    <h4>Comments</h4>
		    <app-student-comments [studentId]="student.id" [student]="student"></app-student-comments>
		  </tab>
		  <tab heading="Exams" class="mt-2" (selectTab)="onSelect($event)" *ngIf="!student.has_absconded && !isLeft()">
		    <h4>Exams</h4>
		    <app-student-exams [studentId]="student.id" [studentName]="name()"></app-student-exams>
		  </tab>
		</tabset>
	</div>
</div>