<form>
  <div class="form-group mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="standard.name" [ngModelOptions]="{standalone: true}"/>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Std</label>
    <input type="number" class="form-control" placeholder="Std" [(ngModel)]="standard.std" [ngModelOptions]="{standalone: true}"/>
  </div>
  <div class="form-group mb-3">
  <button type="submit" *ngIf=isNew class="btn btn-primary" (click)=createStandard(standard)>Submit</button>
  <button type="submit" *ngIf=!isNew class="btn btn-primary" (click)=updateStandard(standard)>Submit</button>
  <button type="submit" class="btn btn-primary marginLeft15" (click)=back()>Back</button>
</div>
</form>
