<div class="">
  <p class="clearfix">
    
    <a href="/exams/new" class="btn btn-primary marginRight15" tooltip="New Exam">
    	<fa-icon [icon]="faSquarePlus"></fa-icon>
    </a>
    <a href="/exams/group_exams" class="btn btn-primary" tooltip="Group Exam Report">
    	<fa-icon [icon]="faFileLines"></fa-icon>
    </a>
  </p>

	<div>
		<div *ngFor="let exam of exams; index as i" [ngClass]="{'published': exam.exam_status == 'Published'}" class="Exams-exam indexBox">
	    <p class="name">{{i+1}} - <strong>{{exam.name}}</strong></p>
	    <p><strong>{{exam.Subject.name}}</strong> - Class <strong>{{exam.Standard.name}} </strong></p>
	    <p><span>Exam Date - {{exam.exam_date | date:'dd MMM yyyy'}}</span><br />
	    <span>Exam Status - {{exam.exam_status}}</span></p>
	    <div class="actions">
	      <a href='/exams/{{exam.id}}' tooltip="Show"><fa-icon [icon]="faFolderOpen"></fa-icon></a>
	      &nbsp;&nbsp;&nbsp;
	      <a *ngIf="exam.exam_status == 'Created'" href='/exams/{{exam.id}}/edit' tooltip="Edit"><fa-icon [icon]="faFilePen"></fa-icon></a>
	    </div>
	  </div>
	</div>
	<div class="pagination">
		<pagination [totalItems]="totalItems" [ngModel]="currentPage" (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="8">        
  	</pagination>
	</div>
</div>