<p class="clearfix">  
  <a href="/hostels/{{hostelId}}/hostel-rooms/new" class="btn btn-primary" tooltip="New Hostel Room"><fa-icon [icon]="faPeopleRoof"> </fa-icon></a>
</p>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-1"> Sr No
      </th>
      <th>Name</th>
      <th>No of Students</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<tr *ngFor="let hostelRoom of hostelRooms; index as i">
      <td>{{i+1}}</td> 
      <td>{{hostelRoom.name}}</td>
      <td>{{hostelRoom.hostel_students_count}}</td>
      <td>
        <a href='/hostels/{{hostelId}}/hostel-rooms/{{hostelRoom.id}}' tooltip="Show"><fa-icon [icon]="faFolderOpen"></fa-icon></a>
        &nbsp;&nbsp;&nbsp;
        <a href='/hostels/{{hostelId}}/hostel-rooms/{{hostelRoom.id}}/edit' tooltip="Edit"><fa-icon [icon]="faFilePen"></fa-icon></a>
      </td>
  	</tr>
  </tbody>
</table>